#bootstrap-overrides nav {
  background-color: #38a30e;
}

.ButtonGroup {
  background-color: #38a30e !important;
  justify-items: center;
}

.Button {
  font-size: x-small;
}

.card-deck {
  justify-content: center;
}

.main-page-cards .card {
  height: 195px;
}

.card-body {
  background-color: #38a30e;
  color: aliceblue;
  text-align: center;
  align-items: center;
}

.icon {
  font-size: xx-large;
}

.menu-icon {
  font-size: 100px;
  margin: 30px;
}

.card-link {
  color: aliceblue;
  font-size: larger;
  font-weight: 500;
  text-decoration: none !important;
}

.text-muted {
  color: white;
}

.card-body:hover {
  text-decoration: underline;
  text-decoration-color: white;
}

.btn-circle.btn-xl {
  width: 200px;
  height: 200px;
  border-radius: 120px;
  background-color: #38a30e;
  margin-top: 50px;
}

.menu-describe {
  text-align: center;
  margin-top: 20px;
  font-size: 25px;
  color: #38a30e;
  font-weight: bold;
}

.mobile-menu {
  margin-top: 35px;
}
