#bootstrap-overrides nav {
  background-color: #38a30e;
}

.ButtonGroup {
  background-color: #38a30e !important;
}

.menu-mobile {
}

.button {
  font-size: larger;
  background-color: #38a30e;
  margin-bottom: 8px;
}

.card-deck {
  justify-content: center;
}

.main-page-cards .card {
  height: 195px;
}

.card-body {
  background-color: #38a30e;
  color: aliceblue;
  text-align: center;
  align-items: center;
}

.icon {
  font-size: xx-large;
}

.card-link {
  color: aliceblue;
  font-size: larger;
  font-weight: 500;
  text-decoration: none !important;
}

.text-muted {
  color: white;
}

.card-body:hover {
  text-decoration: underline;
  text-decoration-color: white;
}
