@import url('https://fonts.googleapis.com/css2?family=Charmonman&display=swap');

.recipeName {
  margin: 2%;
  font-family: 'Charmonman', cursive !important;
  color: #38a30e;
  font-weight: 500;
  font-size: 70px;
}

.recipeImg {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.left-side {
  background-color: #c7c7c75b;
  grid-template-columns: 225px 100px;
  border-radius: 5px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
  margin-top: 20px;
  margin-bottom: 80px;
  padding: 20px;
}

.preparation-time {
  display: flex;
}

.icon {
  font-size: 50px;
  margin-left: 50px;
  margin-top: 15px;
  color: #4e4e4e;
}

.data {
  margin-top: 25px;
  font-size: 25px;
  margin-left: 20px;
  color: #2e860b;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.difficulty {
  display: flex;
}

.category {
  display: flex;
}

hr.solid {
  border: none;
  height: 20px;
  width: 90%;
  height: 50px;
  margin-top: 0;
  border-bottom: 1px solid #2e860b00;
  box-shadow: 0 20px 20px -20px #174405c9;
  margin: -50px auto 10px;
}

.right-side-top {
  background-color: #c7c7c75b;

  width: 700px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.356);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.recipe-title {
  color: #3aaa0e;
  font-size: 60px;
  text-align: center;
  font-family: 'Charmonman', cursive !important;
}

.ingredients-title {
  font-size: 30px;
  color: #267009;
  margin-top: 40px;
  margin-left: 30px;
}

.ingredients {
  margin-top: 5px;
  margin-left: 30px;
  color: #424242;
  font-size: 20px;
}

.right-side-bottom {
  background-color: #c7c7c75b;
  width: 700px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.356);
  margin-top: 5px;
  margin-bottom: 80px;
  padding: 20px;
}

.description-title {
  font-size: 30px;
  color: #267009;
  margin-top: 20px;
  margin-left: 30px;
}

.description {
  color: #424242;
  font-size: 20px;
  margin: 30px 10px 20px 10px;
}
